* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ariel', sans-serif;
    border: 0;
}
p {
    font-weight: 300;
    color: #111;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('img/bg.jpg');
    background-size: cover;
}
.banner .content {
    max-width: 900px;
    text-align: center;
    letter-spacing: 5px;
}
.banner .content h2 {
    font-size: 5em;
    color: #fff;
}
.banner .content p {
    font-size: 1em;
    color: #fff;
}
